{% extends 'main.html' %}
{% block content %}
    <div style="text-align: center;font-family: 'Lobster', cursive;">
        <form method="post">
            <h1>Are you sure you want to delete this article?</h1>
            {% csrf_token %}
            <a href="{% url 'home' %}">
                <input type="button" value="Cancel" class="btn btn-info">
            </a>
            <a>
                <input type="submit" value="Delete" class="btn btn-danger">
            </a>
        </form>


    </div>

{% endblock %}